<h1>Display your Pirate here</h1>
  <ul>
   <li><%=@pirates['name']%></li>
    <li><%=@pirates['weight']%></li>
    <li><%=@pirates['height']%></li>
  </ul>

<h2>Display your first ship here</h2>
    <li><%=@pirates['ships']['0']['name']%></li>
    <li><%=@pirates['ships']['0']['type']%></li>
    <li><%=@pirates['ships']['0']['booty']%></li>

<h2>Display your second ship here</h2>
    <li><%=@pirates['ships']['1']['name']%></li>
    <li><%=@pirates['ships']['1']['type']%></li>
    <li><%=@pirates['ships']['1']['booty']%></li>